table {
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

tr {
  text-align:center;
}

.groups {
  width: 70%;
  display: inline-block;
  vertical-align: top;
  line-height: 2em;
  border: 3px solid black;
  text-align:center;
  margin: 1rem;
}
.center{
  text-align:center;
}
