<div class="container center">
  <div class="groups">
    <div class="group date-select D">
      <label>資料期間:   </label>
      <input type="date" [(ngModel)]="tradeQuery.startDate">
      <label>     至     </label>
      <input type="date" [(ngModel)]="tradeQuery.endDate">
    </div>
    <div>
      <label>交易方式:   </label>
      <select [(ngModel)]="tradeQuery.tradeType">
        <option value=""></option>
        <option value="F">定價</option>
        <option value="C">競價</option>
        <option value="N">議借</option>
      </select>
    </div>
    <div>
      <label>股票代號:   </label>
      <input type="text"  [(ngModel)]="tradeQuery.stockId">
    </div>
    <button (click)="QueryWithFilter()">Search</button>
  </div>
  <div *ngIf="isTableVisible">
    <button (click)="PreviousPage()" [disabled]="tradeQuery.currentPage===1">上一頁</button>
    <label>頁數:</label>
    <select (change)="SetPage($event)" [(ngModel)]="tradeQuery.currentPage">
      <option *ngFor="let page of pageList" value={{page}}>{{page}}</option>
    </select>
    <button (click)="NextPage()" [disabled]="tradeQuery.currentPage===lastPage">下一頁</button>
  </div>
  <table class="table" *ngIf="isTableVisible">
    <thead>
      <tr>
        <th (click)="QueryWithSort(col)" *ngFor="let col of displayedColumns;let i=index;">
          {{columnArrows[i]}} {{col}} {{columnArrows[i]}}
        </th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of displayedTradeItems">
        <td>{{ item.tradeDate }}</td>
        <td (click)="ModalOpen('modal',item.stockIdAndName)">{{ item.stockIdAndName }}</td>
        <td>{{ item.type }}</td>
        <td>{{ item.volume }}</td>
        <td>{{ item.fee }}</td>
        <td>{{ item.closingPrice }}</td>
        <td>{{ item.returnDate }}</td>
        <td>{{ item.lendingPeriod }}</td>
        <td>
          <button [routerLink]="['/trade-edit', item.id]">edit</button>
        </td>
        <td>
          <button (click)="ConfirmDelete(item.id)">delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <p-confirmDialog header="Confirm" [style]="{width: '30vw'}"></p-confirmDialog>
</div>
<div class="footcontainer">
  <div class="left">
    <label style="text-align: left !important;">總筆數:{{totalCount}}</label>
  </div>
  <div class="right">
    <div>
      <label>更新資料庫 ~ </label>
      <input type="date" [(ngModel)]="updateDbEndDate">
    </div>
    <div style="text-align: center;">
      <button (click)="UpdateDatabase()" [disabled]="updateButtonDisabled" style="width: 100%;">Go</button>
    </div>
  </div>
</div>

<app-modal id="modal">
  <table class="center">
    <tbody>
      <tr>
        <td><label>股票代號 </label></td>
        <td><label>{{stockInfo.stockId}} </label></td>
      </tr>
      <tr>
        <td><label>股票名稱 </label></td>
        <td><label>{{stockInfo.name}} </label></td>
      </tr>
      <tr>
        <td><label>最近一日成交日 </label></td>
        <td><label>{{stockInfo.latestTradeDate}} </label></td>
      </tr>
      <tr>
        <td><label>最近一日收盤價 </label></td>
        <td><label>{{stockInfo.latestClosingPrice}} </label></td>
      </tr>
    </tbody>
  </table>
</app-modal>
